# <span><h1 style = "font-family: garamond; font-size: 40px; font-style: normal; letter-spcaing: 3px; background-color: #f6f5f5; color :#fe346e; border-radius: 100px 100px; text-align:center">CONVOLVE 3.0</h1></span>

# IMPORTING REQUIRED LIBRARIES

In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler

## ================================ ##

from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score, 
    confusion_matrix, classification_report
)
from sklearn.metrics import mean_absolute_error
from sklearn.feature_selection import VarianceThreshold

# EXPLORATORY DATA ANALYSIS

#### Read the data

In [6]:
df=pd.read_csv("Dev_data_to_be_shared.csv")
print(df.shape)
df.head()

(96806, 1216)

,account_number,bad_flag,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,...,bureau_enquiry_47,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48
0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,221000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0,25000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,86000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,215000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_describe=pd.DataFrame(df.describe())
df_describe

,account_number,bad_flag,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,...,bureau_enquiry_47,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48
count,96806.000000,96806.000000,7.157500e+04,71575.000000,71575.000000,71575.000000,71575.000000,71575.000000,71575.000000,71575.000000,...,94212.0,94212.000000,94212.000000,94212.000000,11610.000000,11610.000000,11610.000000,11610.000000,11610.000000,11610.000000
mean,48403.500000,0.014173,1.542391e+05,9.570769,0.002207,4.092854,77.306435,0.006315,67.043550,0.081034,...,0.0,0.189657,0.044283,7.800673,0.588114,1.497158,0.545650,1.430491,0.121447,0.119208
std,27945.629417,0.118203,1.729925e+05,1513.967595,0.119240,301.580599,3164.987013,0.129545,2516.330899,14.203615,...,0.0,0.597298,0.369451,8.655149,1.059613,1.702795,1.055865,1.728950,0.601256,0.599697
min,1.000000,0.000000,2.500000e+04,0.000000,0.000000,0.000000,-109800.476600,0.000000,-3498.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24202.250000,0.000000,5.900000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
50%,48403.500000,0.000000,1.000000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,5.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,72604.750000,0.000000,1.810000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,11.000000,1.000000,2.000000,1.000000,2.000000,0.000000,0.000000
max,96806.000000,1.000000,2.800000e+06,398936.791000,25.000000,55000.000000,358986.000000,12.000000,358986.000000,3150.000000,...,0.0,18.000000,14.000000,102.000000,19.000000,38.000000,19.000000,38.000000,15.000000,15.000000

In [17]:
original_df=df

In [7]:
null_count=pd.DataFrame(df.isnull().sum())

In [19]:
null_count.columns=['count']

In [20]:
null_count

                         count
account_number               0
bad_flag                     0
onus_attribute_1         25231
transaction_attribute_1  25231
transaction_attribute_2  25231
...                        ...
onus_attribute_44        85196
onus_attribute_45        85196
onus_attribute_46        85196
onus_attribute_47        85196
onus_attribute_48        85196

[1216 rows x 1 columns]

# HANDLING MISSING VALUES

In [23]:
to_drop_list=[]

for index, row in null_count.iterrows():
    for col_name in null_count.columns:
        if (row[col_name]>30000):
            print(index)
            to_drop_list.append(index)

bureau_147
bureau_148
bureau_433
bureau_434
bureau_435
bureau_436
bureau_437
bureau_438
bureau_440
bureau_444
bureau_445
bureau_446
bureau_447
bureau_448
bureau_449
bureau_451
onus_attribute_6
onus_attribute_7
onus_attribute_9
onus_attribute_43
onus_attribute_44
onus_attribute_45
onus_attribute_46
onus_attribute_47
onus_attribute_48

In [ ]:
df=df.drop(columns=to_drop_list)

In [26]:
null_count=pd.DataFrame(df.isnull().sum())
null_count

                             0
account_number               0
bad_flag                     0
onus_attribute_1         25231
transaction_attribute_1  25231
transaction_attribute_2  25231
...                        ...
bureau_enquiry_46         2594
bureau_enquiry_47         2594
bureau_enquiry_48         2594
bureau_enquiry_49         2594
bureau_enquiry_50         2594

[1191 rows x 1 columns]

In [27]:
sum=0
for index, row in null_count.iterrows():
    for col_name in null_count.columns:
        if (row[col_name]==25231):
            print(index)
            sum+=1
print(sum)

onus_attribute_1
transaction_attribute_1
transaction_attribute_2
transaction_attribute_3
transaction_attribute_4
transaction_attribute_5
transaction_attribute_6
transaction_attribute_7
transaction_attribute_8
transaction_attribute_9
transaction_attribute_10
transaction_attribute_11
transaction_attribute_12
transaction_attribute_13
transaction_attribute_14
transaction_attribute_15
transaction_attribute_16
transaction_attribute_17
transaction_attribute_18
transaction_attribute_19
transaction_attribute_20
transaction_attribute_21
transaction_attribute_22
transaction_attribute_23
transaction_attribute_24
transaction_attribute_25
transaction_attribute_26
transaction_attribute_27
transaction_attribute_28
transaction_attribute_29
transaction_attribute_30
transaction_attribute_31
transaction_attribute_32
transaction_attribute_33
transaction_attribute_34
transaction_attribute_35
transaction_attribute_36
transaction_attribute_37
transaction_attribute_38
transaction_attribute_39
transaction_attribute_40
transaction_attribute_41
transaction_attribute_42
transaction_attribute_43
transaction_attribute_44
transaction_attribute_45
transaction_attribute_46
transaction_attribute_47
transaction_attribute_48
transaction_attribute_49
transaction_attribute_50
transaction_attribute_51
transaction_attribute_52
transaction_attribute_53
transaction_attribute_54
transaction_attribute_55
transaction_attribute_56
transaction_attribute_57
transaction_attribute_58
transaction_attribute_59
transaction_attribute_60
transaction_attribute_61
transaction_attribute_62
transaction_attribute_63
transaction_attribute_64
transaction_attribute_65
transaction_attribute_66
transaction_attribute_67
transaction_attribute_68
transaction_attribute_69
transaction_attribute_70
transaction_attribute_71
transaction_attribute_72
transaction_attribute_73
transaction_attribute_74
transaction_attribute_75
transaction_attribute_76
transaction_attribute_77
transaction_attribute_78
transaction_attribute_79
transaction_attribute_80
transaction_attribute_81
transaction_attribute_82
transaction_attribute_83
transaction_attribute_84
transaction_attribute_85
transaction_attribute_86
transaction_attribute_87
transaction_attribute_88
transaction_attribute_89
transaction_attribute_90
transaction_attribute_91
transaction_attribute_92
transaction_attribute_93
transaction_attribute_94
transaction_attribute_95
transaction_attribute_96
transaction_attribute_97
transaction_attribute_98
transaction_attribute_99
transaction_attribute_100
transaction_attribute_101
transaction_attribute_102
transaction_attribute_103
transaction_attribute_104
transaction_attribute_105
transaction_attribute_106
transaction_attribute_107
transaction_attribute_108
transaction_attribute_109
transaction_attribute_110
transaction_attribute_111
transaction_attribute_112
transaction_attribute_113
transaction_attribute_114
transaction_attribute_115
transaction_attribute_116
transaction_attribute_117
transaction_attribute_157
transaction_attribute_158
transaction_attribute_159
transaction_attribute_160
transaction_attribute_161
transaction_attribute_162
transaction_attribute_163
transaction_attribute_164
transaction_attribute_165
transaction_attribute_166
transaction_attribute_167
transaction_attribute_168
transaction_attribute_169
transaction_attribute_170
transaction_attribute_171
transaction_attribute_172
transaction_attribute_173
transaction_attribute_174
transaction_attribute_175
transaction_attribute_176
transaction_attribute_177
transaction_attribute_178
transaction_attribute_179
transaction_attribute_180
transaction_attribute_181
transaction_attribute_182
transaction_attribute_183
transaction_attribute_184
transaction_attribute_185
transaction_attribute_186
transaction_attribute_187
transaction_attribute_188
transaction_attribute_189
transaction_attribute_190
transaction_attribute_191
transaction_attribute_192
transaction_attribute_193
transaction_attribute_194
transaction_attribute_195
transaction_attribute_196
transaction_attribute_197
transaction_attribute_198
transaction_attribute_199
transaction_attribute_200
transaction_attribute_201
transaction_attribute_202
transaction_attribute_203
transaction_attribute_204
transaction_attribute_205
transaction_attribute_206
transaction_attribute_207
transaction_attribute_208
transaction_attribute_209
transaction_attribute_210
transaction_attribute_211
transaction_attribute_212
transaction_attribute_213
transaction_attribute_214
transaction_attribute_215
transaction_attribute_216
transaction_attribute_217
transaction_attribute_218
transaction_attribute_219
transaction_attribute_220
transaction_attribute_221
transaction_attribute_222
transaction_attribute_223
transaction_attribute_224
transaction_attribute_225
transaction_attribute_226
transaction_attribute_227
transaction_attribute_228
transaction_attribute_229
transaction_attribute_230
transaction_attribute_231
transaction_attribute_232
transaction_attribute_233
transaction_attribute_234
transaction_attribute_235
transaction_attribute_236
transaction_attribute_237
transaction_attribute_238
transaction_attribute_239
transaction_attribute_240
transaction_attribute_241
transaction_attribute_242
transaction_attribute_243
transaction_attribute_244
transaction_attribute_245
transaction_attribute_246
transaction_attribute_247
transaction_attribute_248
transaction_attribute_249
transaction_attribute_250
transaction_attribute_251
transaction_attribute_252
transaction_attribute_253
transaction_attribute_254
transaction_attribute_255
transaction_attribute_256
transaction_attribute_257
transaction_attribute_258
transaction_attribute_259
transaction_attribute_260
transaction_attribute_261
transaction_attribute_262
transaction_attribute_263
transaction_attribute_264
transaction_attribute_265
transaction_attribute_266
transaction_attribute_267
transaction_attribute_268
transaction_attribute_269
transaction_attribute_270
transaction_attribute_271
transaction_attribute_272
transaction_attribute_273
transaction_attribute_274
transaction_attribute_275
transaction_attribute_276
transaction_attribute_277
transaction_attribute_278
transaction_attribute_279
transaction_attribute_280
transaction_attribute_281
transaction_attribute_282
transaction_attribute_283
transaction_attribute_284
transaction_attribute_285
transaction_attribute_286
transaction_attribute_287
transaction_attribute_288
transaction_attribute_289
transaction_attribute_290
transaction_attribute_291
transaction_attribute_292
transaction_attribute_293
transaction_attribute_294
transaction_attribute_295
transaction_attribute_296
transaction_attribute_297
transaction_attribute_298
transaction_attribute_299
transaction_attribute_300
transaction_attribute_301
transaction_attribute_302
transaction_attribute_303
transaction_attribute_304
transaction_attribute_305
transaction_attribute_306
transaction_attribute_307
transaction_attribute_308
transaction_attribute_309
transaction_attribute_310
transaction_attribute_311
transaction_attribute_312
transaction_attribute_313
transaction_attribute_314
transaction_attribute_315
transaction_attribute_316
transaction_attribute_317
transaction_attribute_318
transaction_attribute_319
transaction_attribute_320
transaction_attribute_321
transaction_attribute_322
transaction_attribute_323
transaction_attribute_324
transaction_attribute_325
transaction_attribute_326
transaction_attribute_327
transaction_attribute_328
transaction_attribute_329
transaction_attribute_330
transaction_attribute_331
transaction_attribute_332
transaction_attribute_333
transaction_attribute_334
transaction_attribute_335
transaction_attribute_336
transaction_attribute_337
transaction_attribute_338
transaction_attribute_339
transaction_attribute_340
transaction_attribute_341
transaction_attribute_342
transaction_attribute_343
transaction_attribute_344
transaction_attribute_345
transaction_attribute_346
transaction_attribute_347
transaction_attribute_348
transaction_attribute_349
transaction_attribute_350
transaction_attribute_351
transaction_attribute_352
transaction_attribute_353
transaction_attribute_355
transaction_attribute_356
transaction_attribute_357
transaction_attribute_358
transaction_attribute_360
transaction_attribute_361
transaction_attribute_362
transaction_attribute_363
transaction_attribute_365
transaction_attribute_366
transaction_attribute_367
transaction_attribute_368
transaction_attribute_370
transaction_attribute_371
transaction_attribute_372
transaction_attribute_373
transaction_attribute_375
transaction_attribute_376
transaction_attribute_377
transaction_attribute_378
transaction_attribute_380
transaction_attribute_381
transaction_attribute_382
transaction_attribute_383
transaction_attribute_385
transaction_attribute_386
transaction_attribute_387
transaction_attribute_388
transaction_attribute_390
transaction_attribute_391
transaction_attribute_392
transaction_attribute_393
transaction_attribute_395
transaction_attribute_396
transaction_attribute_397
transaction_attribute_398
transaction_attribute_400
transaction_attribute_401
transaction_attribute_402
transaction_attribute_403
transaction_attribute_405
transaction_attribute_406
transaction_attribute_407
transaction_attribute_408
transaction_attribute_410
transaction_attribute_411
transaction_attribute_412
transaction_attribute_413
transaction_attribute_415
transaction_attribute_416
transaction_attribute_417
transaction_attribute_418
transaction_attribute_420
transaction_attribute_421
transaction_attribute_422
transaction_attribute_423
transaction_attribute_425
transaction_attribute_426
transaction_attribute_427
transaction_attribute_428
transaction_attribute_430
transaction_attribute_431
transaction_attribute_432
transaction_attribute_433
transaction_attribute_435
transaction_attribute_436
transaction_attribute_437
transaction_attribute_438
transaction_attribute_440
transaction_attribute_441
transaction_attribute_442
transaction_attribute_443
transaction_attribute_445
transaction_attribute_446
transaction_attribute_447
transaction_attribute_448
transaction_attribute_450
transaction_attribute_451
transaction_attribute_452
transaction_attribute_453
transaction_attribute_455
transaction_attribute_456
transaction_attribute_457
transaction_attribute_458
transaction_attribute_460
transaction_attribute_461
transaction_attribute_462
transaction_attribute_463
transaction_attribute_465
transaction_attribute_466
transaction_attribute_467
transaction_attribute_468
transaction_attribute_470
transaction_attribute_471
transaction_attribute_472
transaction_attribute_473
transaction_attribute_475
transaction_attribute_476
transaction_attribute_477
transaction_attribute_478
transaction_attribute_480
transaction_attribute_481
transaction_attribute_482
transaction_attribute_483
transaction_attribute_485
transaction_attribute_486
transaction_attribute_487
transaction_attribute_488
transaction_attribute_490
transaction_attribute_491
transaction_attribute_492
transaction_attribute_493
transaction_attribute_495
transaction_attribute_496
transaction_attribute_497
transaction_attribute_498
transaction_attribute_500
transaction_attribute_501
transaction_attribute_502
transaction_attribute_503
transaction_attribute_505
transaction_attribute_506
transaction_attribute_507
transaction_attribute_508
transaction_attribute_510
transaction_attribute_511
transaction_attribute_512
transaction_attribute_513
transaction_attribute_515
transaction_attribute_516
transaction_attribute_517
transaction_attribute_518
transaction_attribute_520
transaction_attribute_521
transaction_attribute_522
transaction_attribute_523
transaction_attribute_525
transaction_attribute_526
transaction_attribute_527
transaction_attribute_528
transaction_attribute_530
transaction_attribute_531
transaction_attribute_532
transaction_attribute_533
transaction_attribute_535
transaction_attribute_536
transaction_attribute_537
transaction_attribute_538
transaction_attribute_540
transaction_attribute_541
transaction_attribute_542
transaction_attribute_543
transaction_attribute_545
transaction_attribute_546
transaction_attribute_547
transaction_attribute_587
transaction_attribute_588
transaction_attribute_589
transaction_attribute_590
transaction_attribute_591
transaction_attribute_592
transaction_attribute_593
transaction_attribute_594
transaction_attribute_595
transaction_attribute_596
transaction_attribute_597
transaction_attribute_598
transaction_attribute_599
transaction_attribute_600
transaction_attribute_601
transaction_attribute_602
transaction_attribute_603
transaction_attribute_604
transaction_attribute_605
transaction_attribute_606
transaction_attribute_607
transaction_attribute_608
transaction_attribute_609
transaction_attribute_610
transaction_attribute_611
transaction_attribute_612
transaction_attribute_613
transaction_attribute_614
transaction_attribute_615
transaction_attribute_616
transaction_attribute_617
transaction_attribute_618
transaction_attribute_619
transaction_attribute_620
transaction_attribute_621
transaction_attribute_622
transaction_attribute_623
transaction_attribute_624
transaction_attribute_625
transaction_attribute_626
transaction_attribute_627
transaction_attribute_628
transaction_attribute_629
transaction_attribute_630
transaction_attribute_631
transaction_attribute_632
transaction_attribute_633
transaction_attribute_634
transaction_attribute_635
transaction_attribute_636
transaction_attribute_637
transaction_attribute_638
transaction_attribute_639
transaction_attribute_640
transaction_attribute_641
transaction_attribute_642
transaction_attribute_643
transaction_attribute_644
transaction_attribute_645
transaction_attribute_646
transaction_attribute_647
transaction_attribute_648
transaction_attribute_649
transaction_attribute_650
transaction_attribute_651
transaction_attribute_652
transaction_attribute_653
transaction_attribute_654
transaction_attribute_655
transaction_attribute_656
transaction_attribute_657
transaction_attribute_658
transaction_attribute_659
transaction_attribute_660
transaction_attribute_661
transaction_attribute_662
transaction_attribute_663
transaction_attribute_664
548

In [28]:
column_to_check = 'transaction_attribute_1' 
df_25k = df.dropna(subset=[column_to_check])

print(f"Original DataFrame shape: {df.shape}")
print(f"New DataFrame shape after dropping rows: {df_25k.shape}")

Original DataFrame shape: (96806, 1191)
New DataFrame shape after dropping rows: (71575, 1191)

In [29]:
null_count=pd.DataFrame(df_25k.isnull().sum())
null_count.columns=['count']
null_count

                         count
account_number               0
bad_flag                     0
onus_attribute_1             0
transaction_attribute_1      0
transaction_attribute_2      0
...                        ...
bureau_enquiry_46         1886
bureau_enquiry_47         1886
bureau_enquiry_48         1886
bureau_enquiry_49         1886
bureau_enquiry_50         1886

[1191 rows x 1 columns]

In [31]:
for index, row in null_count.iterrows():
    for col_name in null_count.columns:
        if (row[col_name]!=0):
            print(index,row[col_name])

transaction_attribute_118 209
transaction_attribute_119 209
transaction_attribute_120 209
transaction_attribute_121 209
transaction_attribute_122 209
transaction_attribute_123 209
transaction_attribute_124 209
transaction_attribute_125 209
transaction_attribute_126 209
transaction_attribute_127 209
transaction_attribute_128 209
transaction_attribute_129 209
transaction_attribute_130 209
transaction_attribute_131 209
transaction_attribute_132 209
transaction_attribute_133 209
transaction_attribute_134 209
transaction_attribute_135 209
transaction_attribute_136 209
transaction_attribute_137 209
transaction_attribute_138 209
transaction_attribute_139 209
transaction_attribute_140 209
transaction_attribute_141 209
transaction_attribute_142 209
transaction_attribute_143 209
transaction_attribute_144 209
transaction_attribute_145 209
transaction_attribute_146 209
transaction_attribute_147 209
transaction_attribute_148 209
transaction_attribute_149 209
transaction_attribute_150 209
transaction_attribute_151 209
transaction_attribute_152 209
transaction_attribute_153 209
transaction_attribute_154 209
transaction_attribute_155 209
transaction_attribute_156 209
transaction_attribute_354 79
transaction_attribute_359 79
transaction_attribute_364 79
transaction_attribute_369 79
transaction_attribute_374 79
transaction_attribute_379 79
transaction_attribute_384 79
transaction_attribute_389 79
transaction_attribute_394 79
transaction_attribute_399 79
transaction_attribute_404 79
transaction_attribute_409 79
transaction_attribute_414 79
transaction_attribute_419 79
transaction_attribute_424 79
transaction_attribute_429 79
transaction_attribute_434 79
transaction_attribute_439 79
transaction_attribute_444 79
transaction_attribute_449 79
transaction_attribute_454 79
transaction_attribute_459 79
transaction_attribute_464 79
transaction_attribute_469 79
transaction_attribute_474 79
transaction_attribute_479 79
transaction_attribute_484 79
transaction_attribute_489 79
transaction_attribute_494 79
transaction_attribute_499 79
transaction_attribute_504 79
transaction_attribute_509 79
transaction_attribute_514 79
transaction_attribute_519 79
transaction_attribute_524 79
transaction_attribute_529 79
transaction_attribute_534 79
transaction_attribute_539 79
transaction_attribute_544 79
transaction_attribute_548 104
transaction_attribute_549 104
transaction_attribute_550 104
transaction_attribute_551 104
transaction_attribute_552 104
transaction_attribute_553 104
transaction_attribute_554 104
transaction_attribute_555 104
transaction_attribute_556 104
transaction_attribute_557 104
transaction_attribute_558 104
transaction_attribute_559 104
transaction_attribute_560 104
transaction_attribute_561 104
transaction_attribute_562 104
transaction_attribute_563 104
transaction_attribute_564 104
transaction_attribute_565 104
transaction_attribute_566 104
transaction_attribute_567 104
transaction_attribute_568 104
transaction_attribute_569 104
transaction_attribute_570 104
transaction_attribute_571 104
transaction_attribute_572 104
transaction_attribute_573 104
transaction_attribute_574 104
transaction_attribute_575 104
transaction_attribute_576 104
transaction_attribute_577 104
transaction_attribute_578 104
transaction_attribute_579 104
transaction_attribute_580 104
transaction_attribute_581 104
transaction_attribute_582 104
transaction_attribute_583 104
transaction_attribute_584 104
transaction_attribute_585 104
transaction_attribute_586 104
bureau_1 935
bureau_2 935
bureau_3 935
bureau_4 935
bureau_5 935
bureau_6 935
bureau_7 935
bureau_8 935
bureau_9 935
bureau_10 935
bureau_11 935
bureau_12 935
bureau_13 935
bureau_14 935
bureau_15 935
bureau_16 935
bureau_17 935
bureau_18 935
bureau_19 935
bureau_20 935
bureau_21 935
bureau_22 935
bureau_23 935
bureau_24 935
bureau_25 935
bureau_26 935
bureau_27 935
bureau_28 935
bureau_29 935
bureau_30 935
bureau_31 935
bureau_32 935
bureau_33 935
bureau_34 935
bureau_35 935
bureau_36 936
bureau_37 935
bureau_38 935
bureau_39 935
bureau_40 936
bureau_41 943
bureau_42 958
bureau_43 966
bureau_44 935
bureau_45 935
bureau_46 935
bureau_47 935
bureau_48 935
bureau_49 935
bureau_50 936
bureau_51 947
bureau_52 948
bureau_53 935
bureau_54 935
bureau_55 935
bureau_56 935
bureau_57 935
bureau_58 935
bureau_59 935
bureau_60 935
bureau_61 935
bureau_62 935
bureau_63 935
bureau_64 935
bureau_65 935
bureau_66 935
bureau_67 935
bureau_68 935
bureau_69 935
bureau_70 935
bureau_71 935
bureau_72 935
bureau_73 935
bureau_74 935
bureau_75 935
bureau_76 935
bureau_77 935
bureau_78 935
bureau_79 935
bureau_80 935
bureau_81 935
bureau_82 935
bureau_83 935
bureau_84 935
bureau_85 935
bureau_86 935
bureau_87 935
bureau_88 935
bureau_89 935
bureau_90 935
bureau_91 935
bureau_92 935
bureau_93 935
bureau_94 935
bureau_95 935
bureau_96 935
bureau_97 935
bureau_98 935
bureau_99 935
bureau_100 935
bureau_101 935
bureau_102 935
bureau_103 935
bureau_104 935
bureau_105 935
bureau_106 935
bureau_107 935
bureau_108 935
bureau_109 935
bureau_110 935
bureau_111 935
bureau_112 935
bureau_113 935
bureau_114 935
bureau_115 935
bureau_116 935
bureau_117 935
bureau_118 935
bureau_119 935
bureau_120 935
bureau_121 935
bureau_122 935
bureau_123 935
bureau_124 935
bureau_125 935
bureau_126 935
bureau_127 935
bureau_128 935
bureau_129 935
bureau_130 935
bureau_131 935
bureau_132 935
bureau_133 935
bureau_134 935
bureau_135 935
bureau_136 935
bureau_137 935
bureau_138 935
bureau_139 1020
bureau_140 1138
bureau_141 1179
bureau_142 935
bureau_143 1063
bureau_144 1001
bureau_145 5960
bureau_146 1833
bureau_149 935
bureau_150 935
bureau_151 935
bureau_152 935
bureau_153 935
bureau_154 935
bureau_155 935
bureau_156 935
bureau_157 935
bureau_158 935
bureau_159 935
bureau_160 935
bureau_161 935
bureau_162 935
bureau_163 935
bureau_164 935
bureau_165 935
bureau_166 935
bureau_167 935
bureau_168 935
bureau_169 935
bureau_170 935
bureau_171 935
bureau_172 935
bureau_173 935
bureau_174 935
bureau_175 935
bureau_176 935
bureau_177 935
bureau_178 935
bureau_179 935
bureau_180 935
bureau_181 935
bureau_182 935
bureau_183 935
bureau_184 935
bureau_185 935
bureau_186 935
bureau_187 935
bureau_188 935
bureau_189 935
bureau_190 935
bureau_191 935
bureau_192 935
bureau_193 935
bureau_194 935
bureau_195 935
bureau_196 935
bureau_197 935
bureau_198 935
bureau_199 935
bureau_200 935
bureau_201 935
bureau_202 935
bureau_203 935
bureau_204 935
bureau_205 935
bureau_206 935
bureau_207 935
bureau_208 935
bureau_209 935
bureau_210 935
bureau_211 935
bureau_212 935
bureau_213 935
bureau_214 935
bureau_215 935
bureau_216 935
bureau_217 935
bureau_218 935
bureau_219 935
bureau_220 935
bureau_221 935
bureau_222 935
bureau_223 935
bureau_224 935
bureau_225 935
bureau_226 935
bureau_227 935
bureau_228 935
bureau_229 935
bureau_230 935
bureau_231 935
bureau_232 935
bureau_233 935
bureau_234 935
bureau_235 935
bureau_236 935
bureau_237 935
bureau_238 935
bureau_239 935
bureau_240 935
bureau_241 935
bureau_242 935
bureau_243 935
bureau_244 935
bureau_245 935
bureau_246 935
bureau_247 935
bureau_248 935
bureau_249 935
bureau_250 935
bureau_251 935
bureau_252 935
bureau_253 935
bureau_254 935
bureau_255 935
bureau_256 935
bureau_257 935
bureau_258 935
bureau_259 935
bureau_260 935
bureau_261 935
bureau_262 935
bureau_263 935
bureau_264 935
bureau_265 935
bureau_266 935
bureau_267 935
bureau_268 935
bureau_269 935
bureau_270 935
bureau_271 935
bureau_272 935
bureau_273 935
bureau_274 935
bureau_275 935
bureau_276 935
bureau_277 935
bureau_278 935
bureau_279 935
bureau_280 935
bureau_281 935
bureau_282 935
bureau_283 935
bureau_284 935
bureau_285 935
bureau_286 935
bureau_287 935
bureau_288 935
bureau_289 935
bureau_290 935
bureau_291 935
bureau_292 935
bureau_293 935
bureau_294 935
bureau_295 935
bureau_296 935
bureau_297 935
bureau_298 935
bureau_299 935
bureau_300 935
bureau_301 935
bureau_302 935
bureau_303 935
bureau_304 935
bureau_305 935
bureau_306 935
bureau_307 935
bureau_308 935
bureau_309 935
bureau_310 935
bureau_311 935
bureau_312 935
bureau_313 935
bureau_314 935
bureau_315 935
bureau_316 935
bureau_317 935
bureau_318 935
bureau_319 935
bureau_320 935
bureau_321 935
bureau_322 935
bureau_323 935
bureau_324 935
bureau_325 935
bureau_326 935
bureau_327 935
bureau_328 935
bureau_329 935
bureau_330 935
bureau_331 935
bureau_332 935
bureau_333 935
bureau_334 935
bureau_335 935
bureau_336 935
bureau_337 935
bureau_338 935
bureau_339 935
bureau_340 935
bureau_341 935
bureau_342 935
bureau_343 935
bureau_344 935
bureau_345 935
bureau_346 935
bureau_347 935
bureau_348 935
bureau_349 935
bureau_350 935
bureau_351 935
bureau_352 935
bureau_353 935
bureau_354 935
bureau_355 935
bureau_356 935
bureau_357 935
bureau_358 935
bureau_359 935
bureau_360 935
bureau_361 935
bureau_362 935
bureau_363 935
bureau_364 935
bureau_365 935
bureau_366 935
bureau_367 935
bureau_368 935
bureau_369 935
bureau_370 935
bureau_371 935
bureau_372 935
bureau_373 935
bureau_374 935
bureau_375 935
bureau_376 935
bureau_377 935
bureau_378 935
bureau_379 935
bureau_380 935
bureau_381 935
bureau_382 935
bureau_383 935
bureau_384 935
bureau_385 935
bureau_386 935
bureau_387 935
bureau_388 935
bureau_389 935
bureau_390 935
bureau_391 935
bureau_392 935
bureau_393 935
bureau_394 935
bureau_395 935
bureau_396 935
bureau_397 935
bureau_398 935
bureau_399 935
bureau_400 935
bureau_401 935
bureau_402 935
bureau_403 935
bureau_404 935
bureau_405 935
bureau_406 935
bureau_407 935
bureau_408 935
bureau_409 935
bureau_410 935
bureau_411 935
bureau_412 935
bureau_413 935
bureau_414 935
bureau_415 935
bureau_416 935
bureau_417 935
bureau_418 935
bureau_419 935
bureau_420 935
bureau_421 935
bureau_422 935
bureau_423 935
bureau_424 935
bureau_425 935
bureau_426 935
bureau_427 935
bureau_428 935
bureau_429 935
bureau_430 935
bureau_431 1077
bureau_432 1986
bureau_439 5548
bureau_441 2060
bureau_442 2583
bureau_443 4404
bureau_450 6906
bureau_452 3802
onus_attribute_5 1
onus_attribute_8 23394
onus_attribute_10 1
onus_attribute_11 23214
onus_attribute_12 24058
onus_attribute_13 1
onus_attribute_14 23211
onus_attribute_15 24054
onus_attribute_16 1
bureau_enquiry_1 1886
bureau_enquiry_2 1886
bureau_enquiry_3 1886
bureau_enquiry_4 1886
bureau_enquiry_5 1886
bureau_enquiry_6 1886
bureau_enquiry_7 1886
bureau_enquiry_8 1886
bureau_enquiry_9 1886
bureau_enquiry_10 1886
bureau_enquiry_11 1886
bureau_enquiry_12 1886
bureau_enquiry_13 1886
bureau_enquiry_14 1886
bureau_enquiry_15 1886
bureau_enquiry_16 1886
bureau_enquiry_17 1886
bureau_enquiry_18 1886
bureau_enquiry_19 1886
bureau_enquiry_20 1886
bureau_enquiry_21 1886
bureau_enquiry_22 1886
bureau_enquiry_23 1886
bureau_enquiry_24 1886
bureau_enquiry_25 1886
bureau_enquiry_26 1886
bureau_enquiry_27 1886
bureau_enquiry_28 1886
bureau_enquiry_29 1886
bureau_enquiry_30 1886
bureau_enquiry_31 1886
bureau_enquiry_32 1886
bureau_enquiry_33 1886
bureau_enquiry_34 1886
bureau_enquiry_35 1886
bureau_enquiry_36 1886
bureau_enquiry_37 1886
bureau_enquiry_38 1886
bureau_enquiry_39 1886
bureau_enquiry_40 1886
bureau_enquiry_41 1886
bureau_enquiry_42 1886
bureau_enquiry_43 1886
bureau_enquiry_44 1886
bureau_enquiry_45 1886
bureau_enquiry_46 1886
bureau_enquiry_47 1886
bureau_enquiry_48 1886
bureau_enquiry_49 1886
bureau_enquiry_50 1886

In [33]:
column_to_check = 'bureau_1' 
df_935 = df_25k.dropna(subset=[column_to_check])

print(f"Original DataFrame shape: {df_25k.shape}")
print(f"New DataFrame shape after dropping rows: {df_935.shape}")

Original DataFrame shape: (71575, 1191)
New DataFrame shape after dropping rows: (70640, 1191)

In [34]:
null_count=pd.DataFrame(df_935.isnull().sum())
null_count.columns=['count']
null_count

                         count
account_number               0
bad_flag                     0
onus_attribute_1             0
transaction_attribute_1      0
transaction_attribute_2      0
...                        ...
bureau_enquiry_46         1100
bureau_enquiry_47         1100
bureau_enquiry_48         1100
bureau_enquiry_49         1100
bureau_enquiry_50         1100

[1191 rows x 1 columns]

In [35]:
for index, row in null_count.iterrows():
    for col_name in null_count.columns:
        if (row[col_name]!=0):
            print(index,row[col_name])

transaction_attribute_118 206
transaction_attribute_119 206
transaction_attribute_120 206
transaction_attribute_121 206
transaction_attribute_122 206
transaction_attribute_123 206
transaction_attribute_124 206
transaction_attribute_125 206
transaction_attribute_126 206
transaction_attribute_127 206
transaction_attribute_128 206
transaction_attribute_129 206
transaction_attribute_130 206
transaction_attribute_131 206
transaction_attribute_132 206
transaction_attribute_133 206
transaction_attribute_134 206
transaction_attribute_135 206
transaction_attribute_136 206
transaction_attribute_137 206
transaction_attribute_138 206
transaction_attribute_139 206
transaction_attribute_140 206
transaction_attribute_141 206
transaction_attribute_142 206
transaction_attribute_143 206
transaction_attribute_144 206
transaction_attribute_145 206
transaction_attribute_146 206
transaction_attribute_147 206
transaction_attribute_148 206
transaction_attribute_149 206
transaction_attribute_150 206
transaction_attribute_151 206
transaction_attribute_152 206
transaction_attribute_153 206
transaction_attribute_154 206
transaction_attribute_155 206
transaction_attribute_156 206
transaction_attribute_354 77
transaction_attribute_359 77
transaction_attribute_364 77
transaction_attribute_369 77
transaction_attribute_374 77
transaction_attribute_379 77
transaction_attribute_384 77
transaction_attribute_389 77
transaction_attribute_394 77
transaction_attribute_399 77
transaction_attribute_404 77
transaction_attribute_409 77
transaction_attribute_414 77
transaction_attribute_419 77
transaction_attribute_424 77
transaction_attribute_429 77
transaction_attribute_434 77
transaction_attribute_439 77
transaction_attribute_444 77
transaction_attribute_449 77
transaction_attribute_454 77
transaction_attribute_459 77
transaction_attribute_464 77
transaction_attribute_469 77
transaction_attribute_474 77
transaction_attribute_479 77
transaction_attribute_484 77
transaction_attribute_489 77
transaction_attribute_494 77
transaction_attribute_499 77
transaction_attribute_504 77
transaction_attribute_509 77
transaction_attribute_514 77
transaction_attribute_519 77
transaction_attribute_524 77
transaction_attribute_529 77
transaction_attribute_534 77
transaction_attribute_539 77
transaction_attribute_544 77
transaction_attribute_548 102
transaction_attribute_549 102
transaction_attribute_550 102
transaction_attribute_551 102
transaction_attribute_552 102
transaction_attribute_553 102
transaction_attribute_554 102
transaction_attribute_555 102
transaction_attribute_556 102
transaction_attribute_557 102
transaction_attribute_558 102
transaction_attribute_559 102
transaction_attribute_560 102
transaction_attribute_561 102
transaction_attribute_562 102
transaction_attribute_563 102
transaction_attribute_564 102
transaction_attribute_565 102
transaction_attribute_566 102
transaction_attribute_567 102
transaction_attribute_568 102
transaction_attribute_569 102
transaction_attribute_570 102
transaction_attribute_571 102
transaction_attribute_572 102
transaction_attribute_573 102
transaction_attribute_574 102
transaction_attribute_575 102
transaction_attribute_576 102
transaction_attribute_577 102
transaction_attribute_578 102
transaction_attribute_579 102
transaction_attribute_580 102
transaction_attribute_581 102
transaction_attribute_582 102
transaction_attribute_583 102
transaction_attribute_584 102
transaction_attribute_585 102
transaction_attribute_586 102
bureau_36 1
bureau_40 1
bureau_41 8
bureau_42 23
bureau_43 31
bureau_50 1
bureau_51 12
bureau_52 13
bureau_139 85
bureau_140 203
bureau_141 244
bureau_143 128
bureau_144 66
bureau_145 5025
bureau_146 898
bureau_431 142
bureau_432 1051
bureau_439 4613
bureau_441 1125
bureau_442 1648
bureau_443 3469
bureau_450 5971
bureau_452 2867
onus_attribute_5 1
onus_attribute_8 22845
onus_attribute_10 1
onus_attribute_11 22665
onus_attribute_12 23503
onus_attribute_13 1
onus_attribute_14 22662
onus_attribute_15 23499
onus_attribute_16 1
bureau_enquiry_1 1100
bureau_enquiry_2 1100
bureau_enquiry_3 1100
bureau_enquiry_4 1100
bureau_enquiry_5 1100
bureau_enquiry_6 1100
bureau_enquiry_7 1100
bureau_enquiry_8 1100
bureau_enquiry_9 1100
bureau_enquiry_10 1100
bureau_enquiry_11 1100
bureau_enquiry_12 1100
bureau_enquiry_13 1100
bureau_enquiry_14 1100
bureau_enquiry_15 1100
bureau_enquiry_16 1100
bureau_enquiry_17 1100
bureau_enquiry_18 1100
bureau_enquiry_19 1100
bureau_enquiry_20 1100
bureau_enquiry_21 1100
bureau_enquiry_22 1100
bureau_enquiry_23 1100
bureau_enquiry_24 1100
bureau_enquiry_25 1100
bureau_enquiry_26 1100
bureau_enquiry_27 1100
bureau_enquiry_28 1100
bureau_enquiry_29 1100
bureau_enquiry_30 1100
bureau_enquiry_31 1100
bureau_enquiry_32 1100
bureau_enquiry_33 1100
bureau_enquiry_34 1100
bureau_enquiry_35 1100
bureau_enquiry_36 1100
bureau_enquiry_37 1100
bureau_enquiry_38 1100
bureau_enquiry_39 1100
bureau_enquiry_40 1100
bureau_enquiry_41 1100
bureau_enquiry_42 1100
bureau_enquiry_43 1100
bureau_enquiry_44 1100
bureau_enquiry_45 1100
bureau_enquiry_46 1100
bureau_enquiry_47 1100
bureau_enquiry_48 1100
bureau_enquiry_49 1100
bureau_enquiry_50 1100

In [36]:
column_to_check = 'bureau_enquiry_1' 
df_1100= df_935.dropna(subset=[column_to_check])

print(f"Original DataFrame shape: {df_935.shape}")
print(f"New DataFrame shape after dropping rows: {df_1100.shape}")

Original DataFrame shape: (70640, 1191)
New DataFrame shape after dropping rows: (69540, 1191)

In [38]:
null_count=pd.DataFrame(df_1100.isnull().sum())
null_count.columns=['count']
null_count

                         count
account_number               0
bad_flag                     0
onus_attribute_1             0
transaction_attribute_1      0
transaction_attribute_2      0
...                        ...
bureau_enquiry_46            0
bureau_enquiry_47            0
bureau_enquiry_48            0
bureau_enquiry_49            0
bureau_enquiry_50            0

[1191 rows x 1 columns]

In [39]:
for index, row in null_count.iterrows():
    for col_name in null_count.columns:
        if (row[col_name]!=0):
            print(index,row[col_name])

transaction_attribute_118 199
transaction_attribute_119 199
transaction_attribute_120 199
transaction_attribute_121 199
transaction_attribute_122 199
transaction_attribute_123 199
transaction_attribute_124 199
transaction_attribute_125 199
transaction_attribute_126 199
transaction_attribute_127 199
transaction_attribute_128 199
transaction_attribute_129 199
transaction_attribute_130 199
transaction_attribute_131 199
transaction_attribute_132 199
transaction_attribute_133 199
transaction_attribute_134 199
transaction_attribute_135 199
transaction_attribute_136 199
transaction_attribute_137 199
transaction_attribute_138 199
transaction_attribute_139 199
transaction_attribute_140 199
transaction_attribute_141 199
transaction_attribute_142 199
transaction_attribute_143 199
transaction_attribute_144 199
transaction_attribute_145 199
transaction_attribute_146 199
transaction_attribute_147 199
transaction_attribute_148 199
transaction_attribute_149 199
transaction_attribute_150 199
transaction_attribute_151 199
transaction_attribute_152 199
transaction_attribute_153 199
transaction_attribute_154 199
transaction_attribute_155 199
transaction_attribute_156 199
transaction_attribute_354 73
transaction_attribute_359 73
transaction_attribute_364 73
transaction_attribute_369 73
transaction_attribute_374 73
transaction_attribute_379 73
transaction_attribute_384 73
transaction_attribute_389 73
transaction_attribute_394 73
transaction_attribute_399 73
transaction_attribute_404 73
transaction_attribute_409 73
transaction_attribute_414 73
transaction_attribute_419 73
transaction_attribute_424 73
transaction_attribute_429 73
transaction_attribute_434 73
transaction_attribute_439 73
transaction_attribute_444 73
transaction_attribute_449 73
transaction_attribute_454 73
transaction_attribute_459 73
transaction_attribute_464 73
transaction_attribute_469 73
transaction_attribute_474 73
transaction_attribute_479 73
transaction_attribute_484 73
transaction_attribute_489 73
transaction_attribute_494 73
transaction_attribute_499 73
transaction_attribute_504 73
transaction_attribute_509 73
transaction_attribute_514 73
transaction_attribute_519 73
transaction_attribute_524 73
transaction_attribute_529 73
transaction_attribute_534 73
transaction_attribute_539 73
transaction_attribute_544 73
transaction_attribute_548 97
transaction_attribute_549 97
transaction_attribute_550 97
transaction_attribute_551 97
transaction_attribute_552 97
transaction_attribute_553 97
transaction_attribute_554 97
transaction_attribute_555 97
transaction_attribute_556 97
transaction_attribute_557 97
transaction_attribute_558 97
transaction_attribute_559 97
transaction_attribute_560 97
transaction_attribute_561 97
transaction_attribute_562 97
transaction_attribute_563 97
transaction_attribute_564 97
transaction_attribute_565 97
transaction_attribute_566 97
transaction_attribute_567 97
transaction_attribute_568 97
transaction_attribute_569 97
transaction_attribute_570 97
transaction_attribute_571 97
transaction_attribute_572 97
transaction_attribute_573 97
transaction_attribute_574 97
transaction_attribute_575 97
transaction_attribute_576 97
transaction_attribute_577 97
transaction_attribute_578 97
transaction_attribute_579 97
transaction_attribute_580 97
transaction_attribute_581 97
transaction_attribute_582 97
transaction_attribute_583 97
transaction_attribute_584 97
transaction_attribute_585 97
transaction_attribute_586 97
bureau_36 1
bureau_40 1
bureau_41 4
bureau_42 14
bureau_43 18
bureau_50 1
bureau_51 5
bureau_52 6
bureau_139 79
bureau_140 177
bureau_141 222
bureau_143 118
bureau_144 46
bureau_145 4519
bureau_146 787
bureau_431 107
bureau_432 754
bureau_439 4274
bureau_441 976
bureau_442 1423
bureau_443 2913
bureau_450 5571
bureau_452 2587
onus_attribute_5 1
onus_attribute_8 22492
onus_attribute_10 1
onus_attribute_11 22319
onus_attribute_12 23145
onus_attribute_13 1
onus_attribute_14 22316
onus_attribute_15 23141
onus_attribute_16 1

In [40]:
column_to_check = 'transaction_attribute_118' 
df_199= df_1100.dropna(subset=[column_to_check])

print(f"Original DataFrame shape: {df_1100.shape}")
print(f"New DataFrame shape after dropping rows: {df_199.shape}")

Original DataFrame shape: (69540, 1191)
New DataFrame shape after dropping rows: (69341, 1191)

In [42]:
null_count=pd.DataFrame(df_199.isnull().sum())
null_count.columns=['count']
for index, row in null_count.iterrows():
    for col_name in null_count.columns:
        if (row[col_name]!=0):
            print(index,row[col_name])

transaction_attribute_548 23
transaction_attribute_549 23
transaction_attribute_550 23
transaction_attribute_551 23
transaction_attribute_552 23
transaction_attribute_553 23
transaction_attribute_554 23
transaction_attribute_555 23
transaction_attribute_556 23
transaction_attribute_557 23
transaction_attribute_558 23
transaction_attribute_559 23
transaction_attribute_560 23
transaction_attribute_561 23
transaction_attribute_562 23
transaction_attribute_563 23
transaction_attribute_564 23
transaction_attribute_565 23
transaction_attribute_566 23
transaction_attribute_567 23
transaction_attribute_568 23
transaction_attribute_569 23
transaction_attribute_570 23
transaction_attribute_571 23
transaction_attribute_572 23
transaction_attribute_573 23
transaction_attribute_574 23
transaction_attribute_575 23
transaction_attribute_576 23
transaction_attribute_577 23
transaction_attribute_578 23
transaction_attribute_579 23
transaction_attribute_580 23
transaction_attribute_581 23
transaction_attribute_582 23
transaction_attribute_583 23
transaction_attribute_584 23
transaction_attribute_585 23
transaction_attribute_586 23
bureau_36 1
bureau_40 1
bureau_41 4
bureau_42 14
bureau_43 18
bureau_50 1
bureau_51 5
bureau_52 6
bureau_139 77
bureau_140 176
bureau_141 221
bureau_143 118
bureau_144 46
bureau_145 4502
bureau_146 783
bureau_431 107
bureau_432 749
bureau_439 4257
bureau_441 972
bureau_442 1422
bureau_443 2904
bureau_450 5552
bureau_452 2579
onus_attribute_5 1
onus_attribute_8 22404
onus_attribute_10 1
onus_attribute_11 22231
onus_attribute_12 23050
onus_attribute_13 1
onus_attribute_14 22228
onus_attribute_15 23046
onus_attribute_16 1

In [43]:
to_drop_list=[]

for index, row in null_count.iterrows():
    for col_name in null_count.columns:
        if (row[col_name]>20000):
            print(index)
            to_drop_list.append(index)

onus_attribute_8
onus_attribute_11
onus_attribute_12
onus_attribute_14
onus_attribute_15

In [44]:
df_20k=df_199.drop(columns=to_drop_list)

In [46]:
null_count=pd.DataFrame(df_20k.isnull().sum())
null_count.columns=['count']
for index, row in null_count.iterrows():
    for col_name in null_count.columns:
        if (row[col_name]!=0):
            print(index,row[col_name])

transaction_attribute_548 23
transaction_attribute_549 23
transaction_attribute_550 23
transaction_attribute_551 23
transaction_attribute_552 23
transaction_attribute_553 23
transaction_attribute_554 23
transaction_attribute_555 23
transaction_attribute_556 23
transaction_attribute_557 23
transaction_attribute_558 23
transaction_attribute_559 23
transaction_attribute_560 23
transaction_attribute_561 23
transaction_attribute_562 23
transaction_attribute_563 23
transaction_attribute_564 23
transaction_attribute_565 23
transaction_attribute_566 23
transaction_attribute_567 23
transaction_attribute_568 23
transaction_attribute_569 23
transaction_attribute_570 23
transaction_attribute_571 23
transaction_attribute_572 23
transaction_attribute_573 23
transaction_attribute_574 23
transaction_attribute_575 23
transaction_attribute_576 23
transaction_attribute_577 23
transaction_attribute_578 23
transaction_attribute_579 23
transaction_attribute_580 23
transaction_attribute_581 23
transaction_attribute_582 23
transaction_attribute_583 23
transaction_attribute_584 23
transaction_attribute_585 23
transaction_attribute_586 23
bureau_36 1
bureau_40 1
bureau_41 4
bureau_42 14
bureau_43 18
bureau_50 1
bureau_51 5
bureau_52 6
bureau_139 77
bureau_140 176
bureau_141 221
bureau_143 118
bureau_144 46
bureau_145 4502
bureau_146 783
bureau_431 107
bureau_432 749
bureau_439 4257
bureau_441 972
bureau_442 1422
bureau_443 2904
bureau_450 5552
bureau_452 2579
onus_attribute_5 1
onus_attribute_10 1
onus_attribute_13 1
onus_attribute_16 1

In [48]:
df_describe_cleaned=df_20k.describe()

In [49]:
df_describe_cleaned.to_csv("df_describe_cleaned.csv",index=True)

In [51]:
df_fillna = df_20k.fillna(df_20k.median())
df_fillna.to_csv('dataset_zero_missing.csv', index=False)

In [53]:
null_count=pd.DataFrame(df_fillna.isnull().sum())
null_count.columns=['count']
for index, row in null_count.iterrows():
    for col_name in null_count.columns:
        if (row[col_name]!=0):
            print(index,row[col_name])

# DIMENSIONALITY REDUCTION

In [3]:
df_fillna=pd.read_csv('dataset_zero_missing.csv')
df_fillna.shape

(69341, 1186)

#### SPLITTING INTO X AND Y

In [4]:
X = df_fillna.iloc[:, 2:]
y = df_fillna['bad_flag']

In [5]:
X.shape

(69341, 1184)

#### VARIANCE THRESHOLDING

In [13]:
variances = X.var()

# View the distribution of variances
print(variances.describe())

count    1.184000e+03
mean     6.027968e+11
std      8.707991e+12
min      0.000000e+00
25%      7.690051e-03
50%      7.908965e-02
75%      4.444538e+01
max      2.357234e+14
dtype: float64

In [14]:
# Apply a variance threshold
selector = VarianceThreshold(threshold=0.07)  # Minimum variance threshold
reduced_data = selector.fit_transform(X)

# Get the remaining columns
remaining_columns = X.columns[selector.get_support()]
print(f"Remaining columns after variance thresholding: {len(remaining_columns)}")

Remaining columns after variance thresholding: 603

In [15]:
# Drop columns that were not selected
columns_to_keep = list(remaining_columns)  
X_after_variance_thresholding = X[columns_to_keep]  

print(f"Shape of the reduced DataFrame: {X_after_variance_thresholding.shape}")

Shape of the reduced DataFrame: (69341, 603)

In [17]:
X_after_variance_thresholding.columns

Index(['onus_attribute_1', 'transaction_attribute_1',
       'transaction_attribute_3', 'transaction_attribute_4',
       'transaction_attribute_6', 'transaction_attribute_7',
       'transaction_attribute_9', 'transaction_attribute_10',
       'transaction_attribute_11', 'transaction_attribute_12',
       ...
       'bureau_enquiry_40', 'bureau_enquiry_41', 'bureau_enquiry_42',
       'bureau_enquiry_43', 'bureau_enquiry_44', 'bureau_enquiry_45',
       'bureau_enquiry_46', 'bureau_enquiry_48', 'bureau_enquiry_49',
       'bureau_enquiry_50'],
      dtype='object', length=603)

#### REMOVING COLUMNS WITH HIGH CORRELATION

#### Pairwise Correlation

In [19]:
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [20]:
corr_features = correlation(X_after_variance_thresholding, 0.9)

In [21]:
X_corr = X_after_variance_thresholding.drop(corr_features, axis=1)
features_left = X_corr.shape[1]
print(f'After removing {len(corr_features)} features, there are {features_left} features left.')

After removing 189 features, there are 414 features left.

In [ ]:
X_corr.to_csv("X_corr_414.csv")

In [51]:
y.to_csv("y_cleaned.csv")

In [8]:
X_corr=pd.read_csv('X_corr_414.csv')
y=pd.read_csv('y_cleaned.csv')

In [9]:
X_corr=X_corr.iloc[:,1:]

In [10]:
print(X_corr.shape,y.shape)

(69341, 414) (69341, 2)

In [11]:
y=y.iloc[:,1:]

#### Correlation with target

In [12]:
def corrwith_target(dataframe, target, threshold):
    cor = dataframe.corr()
    cor_target = abs(cor[target])
    relevant_features = cor_target[cor_target<threshold]
    return relevant_features.index.tolist()[:-1]

In [13]:
dummy_train = X_corr.copy()
dummy_train['bad_flag'] = y

In [14]:
corrwith_cols = corrwith_target(dummy_train, 'bad_flag', 0.01)
X_corr_target = X_corr.drop(corrwith_cols, axis=1)
features_target_left = X_corr_target.shape[1]
print(f'After removing {len(corrwith_cols)} features, there are {features_target_left} features left.')

After removing 225 features, there are 189 features left.

In [16]:
columns_to_keep=X_corr_target.columns
columns_to_keep

Index(['onus_attribute_1', 'transaction_attribute_11',
       'transaction_attribute_22', 'transaction_attribute_24',
       'transaction_attribute_32', 'transaction_attribute_33',
       'transaction_attribute_34', 'transaction_attribute_36',
       'transaction_attribute_44', 'transaction_attribute_47',
       ...
       'bureau_enquiry_28', 'bureau_enquiry_30', 'bureau_enquiry_31',
       'bureau_enquiry_32', 'bureau_enquiry_34', 'bureau_enquiry_35',
       'bureau_enquiry_38', 'bureau_enquiry_40', 'bureau_enquiry_44',
       'bureau_enquiry_48'],
      dtype='object', length=189)

In [178]:
X_corr_target.head()

,onus_attribute_1,transaction_attribute_98,transaction_attribute_99,transaction_attribute_257,transaction_attribute_286,transaction_attribute_331,transaction_attribute_332,transaction_attribute_333,transaction_attribute_514,transaction_attribute_515,...,bureau_enquiry_11,bureau_enquiry_15,bureau_enquiry_20,bureau_enquiry_25,bureau_enquiry_30,bureau_enquiry_31,bureau_enquiry_35,bureau_enquiry_40,bureau_enquiry_44,bureau_enquiry_48
0,221000.0,7.0,10207.0,0.0,0.000000,121342.6,19.0,10407.0,0.978788,0.800000,...,4.0,0.0,2.0,0.0,2.0,5.0,1.0,2.0,0.0,0.0
1,25000.0,0.0,0.0,0.0,2225.959991,8800.0,4.0,4000.0,0.909561,0.666667,...,6.0,0.0,5.0,0.0,5.0,11.0,2.0,8.0,0.0,0.0
2,86000.0,0.0,0.0,0.0,1870.300003,0.0,0.0,0.0,0.000000,0.000000,...,6.0,1.0,5.0,1.0,10.0,24.0,2.0,21.0,0.0,0.0
3,215000.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
4,70000.0,0.0,0.0,0.0,2022.699982,5203.5,1.0,5203.5,1.000000,1.000000,...,13.0,2.0,9.0,4.0,12.0,32.0,7.0,21.0,0.0,0.0

# MODEL TRAINING AND TUNING

In [197]:
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
X_train, X_test, y_train, y_test = train_test_split(X_corr_target, y, test_size=0.33, random_state=42)

In [198]:
scaler = StandardScaler()
X_train= scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [193]:
negative_class = (y_train == 0).sum()
positive_class = (y_train == 1).sum()
scale_pos_weight = negative_class / positive_class

In [ ]:
from tensorflow.keras.callbacks import ReduceLROnPlateau
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping

model = Sequential([
    Dense(256, input_dim=X_train.shape[1], activation='relu'),
    Dropout(0.3),
    Dense(128, activation='relu'),
    Dropout(0.3),
    Dense(64, activation='relu'),
    Dropout(0.2),
    Dense(1, activation='sigmoid')
])

# Compile the model
model.compile(optimizer=Adam(learning_rate=0.001),
              loss='binary_crossentropy',
              metrics=['accuracy'])

# Early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

# Model Training
history = model.fit(
    X_train, y_train.to_numpy(),  
    validation_data=(X_test, y_test.to_numpy()), 
    epochs=30,
    batch_size=64,
    class_weight={0: 1.0, 1: scale_pos_weight},
    callbacks=[early_stopping]
)

y_pred_prob = model.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype(int)

# Calculate metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("Confusion Matrix:\n", conf_matrix)

In [ ]:
mae = mean_absolute_error(y_test, y_pred)
mae

#### Resnet Model

In [ ]:
import tensorflow as tf
from tensorflow.keras.layers import Input, Dense, BatchNormalization, Dropout, Add, Activation
from tensorflow.keras.models import Model

def build_resnet(input_dim, num_hidden_units=64, num_blocks=3, dropout_rate=0.5, l2_reg=0.01):
    """
    BuildING a ResNet-inspired architecture for tabular data.

    Parameters:
    - input_dim: Number of features in the input data.
    - num_hidden_units: Number of neurons in hidden layers.
    - num_blocks: Number of residual blocks.
    - dropout_rate: Dropout rate for regularization.
    - l2_reg: L2 regularization strength.

    Returns:
    - model: A compiled ResNet-inspired model.
    """
    input_layer = Input(shape=(input_dim,))

    # Initial Dense Layer
    x = Dense(num_hidden_units, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_reg))(input_layer)
    x = BatchNormalization()(x)
    x = Dropout(dropout_rate)(x)

    # Residual Blocks
    for _ in range(num_blocks):
        shortcut = x

        # First layer of the block
        x = Dense(num_hidden_units, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_reg))(x)
        x = BatchNormalization()(x)
        x = Dropout(dropout_rate)(x)

        # Second layer of the block
        x = Dense(num_hidden_units, activation=None, kernel_regularizer=tf.keras.regularizers.l2(l2_reg))(x)
        x = BatchNormalization()(x)

        # Add shortcut connection
        x = Add()([shortcut, x])
        x = Activation('relu')(x)
        x = Dropout(dropout_rate)(x)

    # Output Layer
    output_layer = Dense(1, activation='sigmoid')(x)
    model = Model(inputs=input_layer, outputs=output_layer)
    return model

input_dim = X_train.shape[1]
model = build_resnet(input_dim, num_hidden_units=128, num_blocks=3, dropout_rate=0.5, l2_reg=0.01)

model.compile(
    optimizer=Adam(learning_rate=0.001),
    loss='binary_crossentropy',
    metrics=['accuracy', 'Precision', 'Recall', 'AUC']
)

y_train_np = np.array(y_train)

# Train the model
history = model.fit(
    X_train, y_train_np,
    validation_split=0.2,
    epochs=100,
    batch_size=32,
    class_weight={0: 1.0, 1: scale_pos_weight},
    callbacks=[
        tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
    ]
)

In [ ]:
# Evaluate the model
y_pred_prob = model.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype(int)

# Calculate metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

# Print metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("Confusion Matrix:\n", conf_matrix)

In [ ]:
mae = mean_absolute_error(y_test, y_pred)
mae

# VALIDATION DATA

#### Loading Data

In [21]:
df1=pd.read_csv("validation_data_to_be_shared.csv")
print(df1.shape)
df1.head()

(41792, 1215)

,account_number,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,transaction_attribute_8,...,bureau_enquiry_47,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48
0,100001,34000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,100003,130000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
3,100004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100005,53000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0

#### KEEPING FEATURES FINALLY DECIDED ON THAT IS USED TO TRAIN THE MODEL

In [22]:
X=df1[columns_to_keep]

#### DEALING WITH MISSING VALUES

In [23]:
null_count=pd.DataFrame(X.isnull().sum())

In [24]:
df1.describe()

,account_number,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,transaction_attribute_8,...,bureau_enquiry_47,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48
count,41792.000000,3.080200e+04,30802.000000,30802.000000,30802.000000,30802.000000,30802.000000,30802.000000,30802.000000,30802.000000,...,40665.0,40665.000000,40665.000000,40665.000000,5003.000000,5003.000000,5003.000000,5003.000000,5003.000000,5003.000000
mean,120896.500000,1.535359e+05,4.934193,0.001851,4.402052,80.126844,0.006818,68.482478,0.014609,0.000065,...,0.0,0.190459,0.045100,7.807992,0.550869,1.446132,0.504697,1.377174,0.111133,0.108735
std,12064.455562,1.687238e+05,346.438437,0.060003,333.007345,3129.518876,0.143986,1972.954511,1.911090,0.008058,...,0.0,0.605972,0.372662,8.628684,0.987102,1.571578,0.983738,1.602382,0.547286,0.545207
min,100001.000000,2.500000e+04,0.000000,0.000000,0.000000,-78048.000000,0.000000,-2668.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,110448.750000,5.900000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
50%,120896.500000,1.000000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,5.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,131344.250000,1.820000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,11.000000,1.000000,2.000000,1.000000,2.000000,0.000000,0.000000
max,141792.000000,2.000000e+06,55000.000000,5.000000,55000.000000,309711.849100,12.000000,173466.720000,300.000000,1.000000,...,0.0,18.000000,14.000000,108.000000,15.000000,34.000000,15.000000,34.000000,15.000000,15.000000

In [25]:
X = X.fillna(X.median())

In [26]:
null_count=pd.DataFrame(X.isnull().sum())

In [27]:
null_count

                          0
onus_attribute_1          0
transaction_attribute_11  0
transaction_attribute_22  0
transaction_attribute_24  0
transaction_attribute_32  0
...                      ..
bureau_enquiry_35         0
bureau_enquiry_38         0
bureau_enquiry_40         0
bureau_enquiry_44         0
bureau_enquiry_48         0

[189 rows x 1 columns]

In [29]:
X.to_csv("X_vaLidation.csv",index=False)

In [ ]:
X_validation=pd.read_csv("X_vaLidation.csv")
X_validation=scaler.transform(X_validation)

#### Resnet Model Prediction

In [ ]:
y_pred_prob_validation= model.predict(X_validation)
y_validation_predicted_resnet=pd.DataFrame(y_pred_prob_validation)
y_validation_predicted_resnet.to_csv("y_pred_prob_validation_resnet.csv",index=False)

# Creating final csv for submission

In [30]:
y_column_resnet=pd.read_csv("y_pred_prob_validation_resnet.csv")

In [34]:
y_column_resnet.columns=['bad_flag']
y_column_resnet['bad_flag']

0        0.507069
1        0.076766
2        0.095828
3        0.117903
4        0.474367
           ...
41787    0.372709
41788    0.181931
41789    0.197012
41790    0.215908
41791    0.529914
Name: bad_flag, Length: 41792, dtype: float64

In [35]:
df1['bad_flag']=y_column_resnet['bad_flag']
df1

,account_number,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,transaction_attribute_8,...,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48,bad_flag
0,100001,34000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,0.507069
1,100002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.076766
2,100003,130000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,0.095828
3,100004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.117903
4,100005,53000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.474367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41787,141788,164000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.372709
41788,141789,68000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,19.0,0.0,1.0,0.0,1.0,0.0,0.0,0.181931
41789,141790,155000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,0.197012
41790,141791,99000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.215908
41791,141792,131000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.529914

In [37]:
submit_resnet= df1[["account_number", "bad_flag"]]
submit_resnet.to_csv("submit_resnet.csv", index=False)